// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 Grinn sp. z o.o.
 * Author: Maksymilian Jaruga <maksymilian.jaruga@grinn-global.com>
 */
/dts-v1/;
#include "mt8370.dtsi"
#include "grinn-genio-som.dtsi"
#include "grinn-genio-sbc.dtsi"

/ {
	model = "Grinn GenioSBC-510";
	compatible = "grinn,genio-510-sbc", "mediatek,mt8370", "mediatek,mt8188";
};
