// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 Grinn sp. z o.o..
 * Author: Grzegorz Runc <grzegorz.runc@grinn-global.com>
 */

#include <dt-bindings/usb/pd.h>

/ {
	model = "Grinn GenioSBC";

	aliases {
		serial0 = &uart0;
		ethernet0 = &eth;
	};

	chosen {
		stdout-path = "serial0:921600n8";
	};

	onboard_hub: regulator@5 {
		compatible = "regulator-fixed";
		regulator-name = "hub_reset";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&pio 7 0>; /* HUB_RESET */
		vin-supply = <&VDD_3V3>;
		enable-active-low;
	};

	VDD_5V: VDD-5V {
		compatible = "regulator-fixed";
		regulator-name = "VDD-5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	VDD_3V3: VDD-3V3 {
		compatible = "regulator-fixed";
		regulator-name = "VDD-3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	amic_codec: amic-codec {
		#sound-dai-cells = <0>;
		compatible = "dmic-codec";
		num-channels = <2>;
		wakeup-delay-ms = <200>;
	};

	dmic_codec: dmic-codec {
		#sound-dai-cells = <0>;
		compatible = "dmic-codec";
		num-channels = <2>;
		wakeup-delay-ms = <30>;
	};	
};

&afe {
	memory-region = <&afe_dma_mem_reserved>;
	#sound-dai-cells = <0>;
	mediatek,dmic-iir-on;
	mediatek,dmic-clk-mono;
	status = "okay";
};

&adsp {
	memory-region = <&adsp_dma_mem_reserved>,
		<&adsp_mem_reserved>;
};

&eth {
	mediatek,mac-wol;
	phy-mode ="rgmii-rxid";
	phy-handle = <&ethernet_phy0>;
	snps,reset-gpio = <&pio 147 GPIO_ACTIVE_HIGH>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 11000 200000>;
	mediatek,tx-delay-ps = <2030>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&eth_default_pins>;
	pinctrl-1 = <&eth_sleep_pins>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
		ethernet_phy0: ethernet-phy@3 {
			reg = <3>;
			compatible = "ethernet-phy-ieee802.3-c22";
			eee-broken-1000t;
			interrupts-extended = <&pio 148 IRQ_TYPE_LEVEL_LOW>;
		};
	};
};

&dp_intf1 {
	status = "okay";
	mediatek,oob-hpd;

	ports {
		port {
			dp_intf1_out: endpoint {
				remote-endpoint = <&dptx_in>;
			};
		};
	};
};

&dp_tx {
	pinctrl-names = "default";
	pinctrl-0 = <&dptx_pin>;
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port {
			dptx_in: endpoint {
				remote-endpoint = <&dp_intf1_out>;
			};
		};
	};
};

&dpi1 {
	status = "okay";
};

&hdmi0 {
	status = "okay";
};

&dsi0 {
	status = "disabled";
};

&mipi_tx0 {
	status = "disabled";
};

&pio {
	gpio-line-names =
		"RPI_GPIO0", "RPI_GPIO1", "", "", "RPI_GPIO4", "", "RPI_GPIO6", "",	// 0 - 7,
		"", "RPI_GPIO9", "RPI_GPIO10", "RPI_GPIO11", "", "", "", "",		// 8 - 15,
		"", "", "", "", "", "RPI_GPIO21", "", "RPI_GPIO23",			// 16 - 23,
		"", "", "", "", "", "", "RPI_PWM1", "",					// 24 - 31,
		"", "", "", "RPI_UTXD2", "RPI_URXD2", "", "", "",			// 32 - 39,
		"", "", "", "", "", "", "", "",						// 40 - 47,
		"", "", "", "", "", "", "", "RPI_SCL0",					// 48 - 55,
		"RPI_SDA0", "", "", "RPI_SCL2", "RPI_SDA2", "", "", "",			// 56 - 63,
		"", "", "", "", "", "RPI_GPIO69", "", "",				// 64 - 71,
		"RPI_GPIO72", "RPI_GPIO73", "RPI_GPIO74", "", "", "", "", "RPI_SPI_CS", // 72 - 79,
		"RPI_SPI_CLK", "RPI_SPI_MO", "RPI_SPI_MI", "", "", "", "", "",		// 80 - 87,
		"", "", "", "", "", "", "", "",						// 88 - 95,
		"", "", "", "", "", "", "", "",						// 96 - 103,
		"", "", "", "", "", "", "", "",						// 104 - 111,
		"", "", "", "", "", "", "", "",						// 112 - 119,
		"", "RPI_PCM_CLK", "RPI_PCM_SYNC", "RPI_PCM_DO", "RPI_PCM_DI", "", "", ""; // 120 - 127,

	aud_pins_default: audiodefault {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO101__FUNC_O_AUD_CLK_MOSI>,
				 <PINMUX_GPIO102__FUNC_O_AUD_SYNC_MOSI>,
				 <PINMUX_GPIO103__FUNC_O_AUD_DAT_MOSI0>,
				 <PINMUX_GPIO104__FUNC_O_AUD_DAT_MOSI1>,
				 <PINMUX_GPIO105__FUNC_I0_AUD_DAT_MISO0>,
				 <PINMUX_GPIO106__FUNC_I0_AUD_DAT_MISO1>,
				 <PINMUX_GPIO121__FUNC_B0_PCM_CLK>,
				 <PINMUX_GPIO122__FUNC_B0_PCM_SYNC>,
				 <PINMUX_GPIO123__FUNC_O_PCM_DO>,
				 <PINMUX_GPIO124__FUNC_I0_PCM_DI>;
		};
		pins-force-gpio-out {
			pinmux = <PINMUX_GPIO167__FUNC_B_GPIO167>;
			input-disable;
			bias-disable;
		};
	};

	dptx_pin: dptx-pin {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO46__FUNC_I0_DP_TX_HPD>;
			bias-pull-up;
		};
	};

	eth_default_pins: eth-default-pins {
		pins-txd {
			pinmux = <PINMUX_GPIO131__FUNC_O_GBE_TXD3>,
				 <PINMUX_GPIO132__FUNC_O_GBE_TXD2>,
				 <PINMUX_GPIO133__FUNC_O_GBE_TXD1>,
				 <PINMUX_GPIO134__FUNC_O_GBE_TXD0>;
			drive-strength = <MTK_DRIVE_8mA>;
		};
		pins-cc {
			pinmux = <PINMUX_GPIO139__FUNC_B0_GBE_TXC>,
				 <PINMUX_GPIO142__FUNC_O_GBE_TXEN>,
				 <PINMUX_GPIO141__FUNC_I0_GBE_RXDV>;
			drive-strength = <MTK_DRIVE_8mA>;
		};
		pins-rxd {
			pinmux = <PINMUX_GPIO135__FUNC_I0_GBE_RXD3>,
				 <PINMUX_GPIO136__FUNC_I0_GBE_RXD2>,
				 <PINMUX_GPIO137__FUNC_I0_GBE_RXD1>,
				 <PINMUX_GPIO138__FUNC_I0_GBE_RXD0>,
				 <PINMUX_GPIO140__FUNC_I0_GBE_RXC>;
			drive-strength = <MTK_DRIVE_8mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_10>;
		};
		pins-mdio {
			pinmux = <PINMUX_GPIO143__FUNC_O_GBE_MDC>,
				 <PINMUX_GPIO144__FUNC_B1_GBE_MDIO>;
			drive-strength = <MTK_DRIVE_8mA>;
			input-enable;
		};
		pins-power {
			pinmux = <PINMUX_GPIO145__FUNC_B_GPIO145>,
				 <PINMUX_GPIO146__FUNC_B_GPIO146>,
				 <PINMUX_GPIO147__FUNC_B_GPIO147>;
			output-high;
		};
		pins-intr {
			pinmux = <PINMUX_GPIO148__FUNC_B_GPIO148>; /* GPIRQ_EQOS_PHY */
			bias-pull-up = <MTK_PUPD_SET_R1R0_10>;
			input-enable;
		};
	};

	eth_sleep_pins: eth-sleep-pins {
		pins-txd {
			pinmux = <PINMUX_GPIO131__FUNC_B_GPIO131>,
				 <PINMUX_GPIO132__FUNC_B_GPIO132>,
				 <PINMUX_GPIO133__FUNC_B_GPIO133>,
				 <PINMUX_GPIO134__FUNC_B_GPIO134>;
		};
		pins-cc {
			pinmux = <PINMUX_GPIO139__FUNC_B_GPIO139>,
				 <PINMUX_GPIO142__FUNC_B_GPIO142>,
				 <PINMUX_GPIO141__FUNC_B_GPIO141>,
				 <PINMUX_GPIO140__FUNC_B_GPIO140>;
		};
		pins-rxd {
			pinmux = <PINMUX_GPIO135__FUNC_B_GPIO135>,
				 <PINMUX_GPIO136__FUNC_B_GPIO136>,
				 <PINMUX_GPIO137__FUNC_B_GPIO137>,
				 <PINMUX_GPIO138__FUNC_B_GPIO138>;
		};
		pins-mdio {
			pinmux = <PINMUX_GPIO143__FUNC_B_GPIO143>,
				 <PINMUX_GPIO144__FUNC_B_GPIO144>;
			input-disable;
			bias-disable;
		};
	};

	uart0_pins: uart0-pins {
		pins {
			pinmux = <PINMUX_GPIO31__FUNC_O_UTXD0>,
				 <PINMUX_GPIO32__FUNC_I1_URXD0>;
			bias-pull-up;
		};
	};

	uart1_pins: uart1-pins {
		pins {
			pinmux = <PINMUX_GPIO86__FUNC_O_UTXD1>,
				 <PINMUX_GPIO87__FUNC_I1_URXD1>,
				 <PINMUX_GPIO88__FUNC_O_URTS1>,
				 <PINMUX_GPIO89__FUNC_I1_UCTS1>;
			bias-pull-up;
		};
	};

	uart2_pins: uart2-pins {
		pins {
			pinmux = <PINMUX_GPIO35__FUNC_O_UTXD2>,
				 <PINMUX_GPIO36__FUNC_I1_URXD2>;
			bias-pull-up;
		};
	};

	i2c0_pin: i2c0-pin {
		pins-bus {
			pinmux = <PINMUX_GPIO56__FUNC_B1_SDA0>,
				 <PINMUX_GPIO55__FUNC_B1_SCL0>;
			bias-pull-up = <MTK_PULL_SET_RSEL_011>;
			mediatek,drive-strength-adv = <7>;
		};
	};

	i2c2_pin: i2c2-pin {
		pins-bus {
			pinmux = <PINMUX_GPIO60__FUNC_B1_SDA2>,
				 <PINMUX_GPIO59__FUNC_B1_SCL2>;
			bias-pull-up = <MTK_PULL_SET_RSEL_011>;
			mediatek,drive-strength-adv = <7>;
		};
	};

	i2c3_pin: i2c3-pin {
		pins-bus {
			pinmux = <PINMUX_GPIO62__FUNC_B1_SDA3>,
				 <PINMUX_GPIO61__FUNC_B1_SCL3>;
			bias-pull-up = <MTK_PULL_SET_RSEL_011>;
			mediatek,drive-strength-adv = <7>;
		};
	};

	i2c5_pin: i2c5-pin {
		pins-bus {
			pinmux = <PINMUX_GPIO66__FUNC_B1_SDA5>,
				 <PINMUX_GPIO65__FUNC_B1_SCL5>;
			bias-pull-up = <MTK_PULL_SET_RSEL_011>;
			mediatek,drive-strength-adv = <7>;
		};
	};

	i2c6_pin: i2c6-pin {
		pins-bus {
			pinmux = <PINMUX_GPIO68__FUNC_B1_SDA6>,
				 <PINMUX_GPIO67__FUNC_B1_SCL6>;
			bias-pull-up = <MTK_PULL_SET_RSEL_011>;
			mediatek,drive-strength-adv = <7>;
		};
	};

	mmc2_pins_default: mmc2default {
		pins-clk {
			pinmux = <PINMUX_GPIO170__FUNC_B1_MSDC2_CLK>;
			drive-strength = <MTK_DRIVE_4mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cmd-dat {
			pinmux = <PINMUX_GPIO169__FUNC_B1_MSDC2_CMD>,
				 <PINMUX_GPIO171__FUNC_B1_MSDC2_DAT0>,
				 <PINMUX_GPIO172__FUNC_B1_MSDC2_DAT1>,
				 <PINMUX_GPIO173__FUNC_B1_MSDC2_DAT2>,
				 <PINMUX_GPIO174__FUNC_B1_MSDC2_DAT3>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	mmc2_pins_uhs: mmc2uhs {
		pins-clk {
			pinmux = <PINMUX_GPIO170__FUNC_B1_MSDC2_CLK>;
			drive-strength = <MTK_DRIVE_4mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cmd-dat {
			pinmux = <PINMUX_GPIO169__FUNC_B1_MSDC2_CMD>,
				 <PINMUX_GPIO171__FUNC_B1_MSDC2_DAT0>,
				 <PINMUX_GPIO172__FUNC_B1_MSDC2_DAT1>,
				 <PINMUX_GPIO173__FUNC_B1_MSDC2_DAT2>,
				 <PINMUX_GPIO174__FUNC_B1_MSDC2_DAT3>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	mmc2_pins_eint: dat1-eint {
		pins-dat1 {
			pinmux = <PINMUX_GPIO172__FUNC_B_GPIO172>;
			input-enable;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	mmc2_pins_dat1: sdio-dat1 {
		pins-dat1 {
			pinmux = <PINMUX_GPIO172__FUNC_B1_MSDC2_DAT1>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};
	};

	wifi_pins_pwrseq: wifipwrseq {
		pins-wifi-enable {
			pinmux = <PINMUX_GPIO127__FUNC_B_GPIO127>;
			output-low;
		};
	};

	spi2_pins: spi2-pins {
		pins-spi {
			pinmux = <PINMUX_GPIO79__FUNC_O_SPIM2_CSB>,
				<PINMUX_GPIO80__FUNC_O_SPIM2_CLK>,
				<PINMUX_GPIO81__FUNC_B0_SPIM2_MOSI>,
				<PINMUX_GPIO82__FUNC_B0_SPIM2_MISO>;
			bias-disable;
		};
	};

	pcie_pins_default: pcie-default {
		mux {
			pinmux = <PINMUX_GPIO47__FUNC_I1_WAKEN>,
				 <PINMUX_GPIO48__FUNC_O_PERSTN>,
				 <PINMUX_GPIO49__FUNC_B1_CLKREQN>;
			bias-pull-up;
		};
	};
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pin>;
	clock-frequency = <400000>;
	status = "okay";
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pin>;
	clock-frequency = <400000>;
	status = "okay";
};

&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pin>;
	clock-frequency = <400000>;
	status = "okay";
};

&i2c5 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5_pin>;
	clock-frequency = <400000>;
	status = "okay";
};

&i2c6 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6_pin>;
	clock-frequency = <400000>;
	status = "okay";
};

&mt6359codec {
	mediatek,mic-type-0 = <1>; /* ACC */
	mediatek,mic-type-1 = <3>; /* DCC */
};

&uart0 {
	pinctrl-0 = <&uart0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart1 {
	pinctrl-0 = <&uart1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart2 {
	pinctrl-0 = <&uart2_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&wifi_pwrseq {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&wifi_pins_pwrseq>;

	reset-gpios = <&pio 127 1>;
	post-power-on-delay-ms = <200>;
};

&mmc1 {
	status = "disabled";
};

&mt6359_vsim1_ldo_reg {
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&mmc2 {
	status = "okay";
	pinctrl-names = "default", "state_uhs", "state_eint",
					"state_dat1";
	pinctrl-0 = <&mmc2_pins_default>;
	pinctrl-1 = <&mmc2_pins_uhs>;
	pinctrl-2 = <&mmc2_pins_eint>;
	pinctrl-3 = <&mmc2_pins_dat1>;
	eint-gpios = <&pio 172 0>;
	bus-width = <4>;
	max-frequency = <200000000>;
	cap-sd-highspeed;
	sd-uhs-sdr104;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	cap-sdio-async-int;
	cap-sdio-irq;
	no-mmc;
	no-sd;
	non-removable;
	vmmc-supply = <&VDD_3V3>;
	vqmmc-supply = <&VDD_3V3>;
	mmc-pwrseq = <&wifi_pwrseq>;
};

&spi2 {
	pinctrl-0 = <&spi2_pins>;
	pinctrl-names = "default";
	mediatek,pad-select = <0>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	spidev@0 {
		compatible = "mediatek,aiot-board";
		spi-max-frequency = <5000000>;
		reg = <0>;
	};
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie_pins_default>;
	status = "okay";
};

&pciephy {
	status = "okay";
};

&ssusb {
	maximum-speed = "high-speed";
	dr_mode = "peripheral";
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	status = "okay";
	wakeup-source;
	mediatek,force-vbus;

	connector {
		compatible = "usb-b-connector";
		type = "micro";
	};
};

&u2port0 {
	status = "okay";
};

&u3phy0 {
	status = "okay";
};

&ssusb1 {
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	dr_mode = "host";
	mediatek,usb3-drd;
	status = "okay";
	wakeup-source;

	connector {
		compatible = "usb-b-connector";
		type = "micro";
	};
};

&u2port1 {
	status = "okay";
};

&u3port1 {
	status = "okay";
};

&u3phy1 {
	status = "okay";
};

&usb_host1 {
	status = "okay";
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	vbus-supply = <&onboard_hub>;
};

&ssusb2 {
	maximum-speed = "high-speed";
	dr_mode = "host";
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
	status = "okay";
	wakeup-source;

	connector {
		compatible = "usb-b-connector";
		type = "micro";
	};
};

&u2port2 {
	status = "okay";
};

&u3phy2 {
	status = "okay";
};

&usb_host2 {
	status = "okay";
	vusb33-supply = <&mt6359_vusb_ldo_reg>;
};

&sound {
	compatible = "mediatek,mt8390-evk";
	model = "mt8390-evk";
	pinctrl-names = "default";
	pinctrl-0 = <&aud_pins_default>;
	status = "okay";

	dai-link-0 {
		sound-dai = <&afe>;
		dai-link-name = "ETDM3_OUT_BE";
		status = "okay";

		codec-0 {
			sound-dai = <&hdmi0>;
		};
	};

	dai-link-1 {
		sound-dai = <&afe>;
		dai-link-name = "DPTX_BE";
		status = "okay";

		codec-0 {
			sound-dai = <&dp_tx>;
		};
	};
};
